.loto-app, .header {
  text-align: center;
  padding: 20px;
}

header h1 {
  font-size: 2em;
  color: #333;
}

h2 {
  margin-top: 20px;
  color: #555;
}
header p {
  font-size: 1.4rem;
}

.user-ticket {
  margin: 10px 0;
}

 .number-input {
  background-color: #003161;
  margin: 5px 5px;
  width: 4rem;
  height: 3.5rem;
  padding: 5px;
} 

.submit-btn, .reset-btn {
  margin: 20px 15px;
  padding: 10px 20px;
  font-size: 1em;
  color: #fff;
  background-color: #789DBC;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-btn:hover, .reset-btn:hover {
  background-color: #EC8305;
}

.random-ticket {
  margin-top: 20px;
}

.number-input, .number-box {
  color: #fff;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  font-size: 1.6rem;
}
.number-box {
  background-color: #EC8305;
  width: 4rem;
  height: 3rem;
  padding-top: .9rem;
  margin-right: 0.7rem;
  font-weight: bold;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}